* {
  margin: 0;
  padding: 0;
}

nav {
  width: 100%;
  height: 60px;
  background-color: rgb(91, 192, 232);
  position: sticky;
  top: 0;
  z-index: 100;
}

.nav_box {
  width: 80%;
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
  line-height: 60px;
}
.store_name {
  font-size: 1.5rem;
  font-weight: bold;
  color: white;
  font-family: cursive;
  cursor: pointer;
}
.cart {
  cursor: pointer;
}
.cart span:nth-child(1) {
  font-size: 2rem;
  color: white;
}
.cart span:nth-child(2) {
  padding: 0 3px;
  background-color: red;
  color: white;
  font-weight: bold;
  border-radius: 5px;
  position: relative;
  top: -15px;
}

.cart__icon:hover {
  color: rgba(248, 244, 23, 0.762);
}
